# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Модели
src/ml/models/*
!src/ml/models/README.md  # если хочешь оставить заглушку

# Данные
learn/content/*
!learn/content/README.md  # тоже заглушка

# Архивы, кэши
*.joblib
*.tar.gz
*.zip

# Venv и окружения
.venv/
.env
*.env
*.egg-info/
micromamba/

*.tar.gz
src/ml/models/
src/whisper/models/
learn/content/
zkh-pipeline/